.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 120px;
}

.nav-items{
    padding: 18px 0px;
}
.nav-items > ul{
    display: flex;
    font-size: 20px;
    list-style-type: none;
}
.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    
}

.search{
    padding: 10px;
    
}

.restro-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.restro-card{
    width: 200px;
    height: 430px;
    padding: 5px;
}
.restro-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-logo{
    width: 100%;
    
}